<div class='toolbar order-links'>
</div>

<%= render :partial => 'spree/manage/shared/order_sub_menu' %>

<h1><%= t(:listing_orders) %></h1>

<table class="index" id="listing_orders" data-hook>
  <thead>
    <tr data-hook="admin_orders_index_headers">
      <th><%= sort_link @search, :completed_at, t(:completed_at, :scope => 'activerecord.attributes.spree/order') %></th>
      <th><%= sort_link @search, :number,         t(:number, :scope => 'activerecord.attributes.spree/order') %></th>
      <th><%= sort_link @search, :email,          t(:email, :scope => 'activerecord.attributes.spree/order') %></th>
      <th><%= sort_link @search, :total,          t(:total, :scope => 'activerecord.attributes.spree/order') %></th>
      <th data-hook="admin_orders_index_header_actions"></th>
    </tr>
  </thead>
  <tbody>
  <% @orders.each do |order| %>
    <tr>
      <td><%= l order.completed_at.to_date %></td>
      <td><%= link_to order.number, manage_order_path(order) %></td>
      <td><%= order.email %></td>
      <td><%= number_to_currency order.brand_total(current_user.brand_id) %></td>
      <td><%= link_to "Update Shipment", manage_order_shipments_path(order) if order.shipment_state %></td>
    </tr>
  <% end %>
  </tbody>
</table>
<%= paginate @orders %>
